:root {
    --font-1: "Alice in Wonderland";
    --font-2: "Silent Dream";
    --hand-writing-font: "Reenie Beanie";
    --p-background: #222222;
    --s-background: #272b27 ;
    --p-gradient-start: #5c9641;
    --p-gradient-end: #318531;
    --shadow: #3a3a3a;
    --p-text: #ffffff;
}

@font-face {
    font-family: "Alice in Wonderland";
    src: url(../FONTS/Alice_in_Wonderland_3.ttf);
}

@font-face {
    font-family: "Silent Dream";
    src: url(../FONTS/Silent_Dream.ttf);
}

@font-face {
    font-family: "Reenie Beanie";
    src: url(../FONTS/ReenieBeanie-Regular.ttf);
}
* {
    /* outline: red solid 1px; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-2);
    color: var(--p-text);
}

body {
    background: var(--p-background);
}

.landing-section-container {
    display: flex;
    width: 100%;
    height: 100vh;
}

/*! THAT MORPHING GRID */


.morph-grid{
    /* outline: 1px solid red; */
    color: var(--p-text);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    align-content: flex-start;
    position: relative;
    height: 300px;
    width: clamp(100px, 60vw, 840px);
    gap: 10px;
    transition: opacity 0.7s ease-in-out;

}

.grid-item{
    width: 200px;
    height: 200px;
    background-color: var(--p-background);
    transition: width 0.7s ease-in-out, height 0.7s ease-in-out, opacity 0.3s ease-in-out, padding 0.9s ease-in-out;
    flex-shrink: 0;
    border-radius: 30px;
    overflow: hidden;
    position: relative;

    /* THIS IS INSIDE THE CARD THINGY */
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.grid-item .content{
    transition: opacity 0.7s ease-in-out;
    
}
.grid-item .expanded-content{
    opacity: 0;
    transition: opacity 0.7s ease-in-out;
    padding: 30px;
}

.morph-grid:has(.grid-item:hover) .grid-item:not(:hover) {
    opacity: 0;
    pointer-events: none;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
}

.grid-item:hover{
    width: 100%;
    height: 100%;
    z-index: 1;
}
.grid-item:hover .expanded-content{
    position: static;
    opacity: 1;
}


.character-thumbnail-image{
    transition: width 0.7s ease-in-out;
    width: 200px;
    opacity: .7;
}
.grid-item:hover .character-thumbnail-image{
    width: 300px;
}



/*! NOVEL PARAGRAPHS */

.novel-paragraph{
    width: 70ch;
}


.highlight {
    position: relative;
    cursor: pointer;
    text-decoration: underline;
    color: blue;
}

.popup {
    position: absolute;
    background: var(--p-background);
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 20px var(--shadow);
    width: fit-content;
    height: fit-content;
    opacity: 0;
    z-index: 10000000;
    overflow: hidden;
    border-radius: 15px;
    top: 100%;
    left: 0;
    margin-top: 10px;
    transition: all .9s ease-in-out;
    pointer-events: none;
}

.popup-content {
    opacity: 0;
    transition: all .9s ease-in-out;
}

.highlight:hover .popup {
    
    opacity: 1;
    pointer-events: all;
}

.highlight:hover .popup-content {
    opacity: 1;
}

.popup img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-top: 10px;
}

/*! SECTIONS */
.section-container{
    width: 100%;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}
.section{
    display: flex;
    
    flex-direction: column;
    align-items: center;
}
.title{
    font-family: var(--font-1);
    font-size: 100px;
    letter-spacing: 7px;
    text-align: center;
    text-shadow: 0px 0px 20px var(--shadow);
}
.section-header{
    font-family: var(--font-1);
    font-size: 64px;
    letter-spacing: 7px;
    text-align: center;
    text-shadow: 0px 0px 20px var(--shadow);
}
.subtitle{
    font-size: 20px;
}
.sub-header{
    font-family: var(--font-1);
    font-size: 35px;
    letter-spacing: 7px;
    text-align: center;
    text-shadow: 0px 0px 20px var(--shadow);
}

.section-background{
    position: absolute;
    width: 100%;
    opacity: .3;
    height: 100vh;
    top: 0;
    object-fit: cover;
    z-index: -1;
}
/*! BUTTONS */


.button-1 {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: var(--p-background);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    transition: all .3s ease-in-out;
    font-size: 15px;
}

.button-1:before {
    content: '';
    background: linear-gradient(45deg, var(--p-gradient-start), var(--p-gradient-end));
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;

}

.button-1:active:after {
    background: var(--s-background);
}

.button-1:hover:before {
    opacity: .4;
}

.button-1:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--p-background);
    left: 0;
    top: 0;
    border-radius: 10px;
    transition: all .3s ease-in-out;

}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}


@keyframes slideFromLeft {
    0% {
        transform: translateX(-15%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.grid-item {
    opacity: 0;
    transform: translateX(-50%);
    filter: blur(500px);
}

.grid-item.slide {
    animation: slideFromLeft 0.9s forwards;
    filter: blur(0px);
}


.grid-item:nth-child(1) {
    animation-delay: 0s;
}

.grid-item:nth-child(2) {
    animation-delay: 0.2s;
}

.grid-item:nth-child(3) {
    animation-delay: 0.4s
}
.grid-item:nth-child(4) {
    animation-delay: 0.6s;
}

