.index_background {
    position: absolute;
    width: 100%;
    opacity: .3;
    height: 100vh;
    top: 0;
    object-fit: cover;
    z-index: -1;
    margin-top: -75px;
} 
.landing-section{
    width: 1280px;
    display: flex;
    gap: 70px;
}
.landing-section-header-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.landing-section-operators{

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.landing-section-creators{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    opacity: .3;
}
.creators-by{
    font-size: 18px;
}
.creator-name{
    font-size: 12px;
}
.novel-author{
    font-size: 24px;
}
.landing-section-description{
    text-align: center;
}