.character-plot-introduction-section{
    width: 1000px;
    padding-top: 100px;
    margin: 0 500px;
    
    gap: 50px;
}

.character-plot-introduction-title{
    display: flex;
    flex-direction: column;
}

.character-plot-introduction-background{
    margin-top: -100px;
}
.family{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.character-introduction-section{
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: 30px;
}
.family-name{
    font-size: 24px;
    font-family: var(--font-2);
    letter-spacing: 7px;
    font-weight: 1000;

}
.characters{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.character-name{
    font-weight: 1000;
    font: 18px;
}
.character-details{
    line-height: 20px;
}
.character-details-container{
    display: flex;
    flex-direction: column;
    gap: 10px; 
}

.family{
    display: flex;
    flex-direction: column;
}

.character-relation-diagram-container {
    perspective: 100000000000000000000000000px;
    transition: all .9s ease-in-out;
}

.character-relation-diagram {
    transition: transform 0.3s ease-out;
    transform-origin: center center;
    transform-style: preserve-3d;
    transition: all .9s ease-in-out;

    display: flex;
    gap: 100px;

}

.character-relation-diagram:hover {
    transform: translateZ(30px) ;
}

/* For more advanced 3D tilt effect based on mouse position */
.character-relation-diagram-container.tilt-effect {
    perspective: 1000px;
    width: fit-content;
    margin: 0 auto;
    transition: all .9s ease-in-out;

}

.character-relation-diagram.tilt-effect {
    transform-style: preserve-3d;
    transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
}
.plot-introduction{
    gap: 30px;
}
.analysis-paragraph{
    width: 70ch;
    line-height: 50px;
}

